
<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% load crispy_forms_tags %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    #profile { 

     max-height: 125px;
     max-width: 125px;
     height: 100%;
     width: 100%; 
     margin-left: auto;
     margin-right: auto;
     display: block;
     overflow: hidden; }
    
  </style>

</head>
<body>

 {% block content %} 

<script>

$('#button').click(function() {    
    $.ajax({
        url: your_url,
        method: 'POST', // or another (GET), whatever you need
        data: {
            name: value, // data you need to pass to your function
            click: True
        }
        success: function (data) {        
            // success callback
            // you can process data returned by function from views.py
        }
    });
});

</script>

<div class="container-fluid text-center">    
  <h3>Explore</h3><br>
  <div class="row"> 
  <form action="/explore/" method="POST" enctype='multipart/form-data' class='form-inline'>
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Submit" style="border-radius: 10px;
background-color: #dddddd">
  </form>
  </div>
    <div class="row">  

  {% for player in user_list %}  

    <div class="col-sm-4"> 
      
    <aside class="panel-body">
  <header>    
    <!-- here’s the avatar -->

    <a href="/profile/{{player.username_id}}"> <!-- http://profile of person -->
      <div id="profile"><img src="{{player.photo.url}}" width="175" height="250"></div>
    </a>

    <!-- the username -->
    <h3>{{player.name}}</h3>
    
    <!-- and role or location -->
    <h4>{{player.city}}, {{player.state}}</h4>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p> Position: {{player.position}} </p>
    <!--<p> Club: {{club}} </p>-->
    <p> GPA: {{player.GPA}} </p>
    
  </div>
  </aside>

    </div>

  {% endfor %}

  </div>
</div>

  {% endblock %} 
  


</body>
</html>
