<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .img-circle {
    border:3px solid #555555;
  }
  .bg-1 { 
      background-color: #ffffff;
      color: #555555;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  #button1 {
    display: inline-block;
    padding: 2px 8px;
    float: left;
/**other codes**/
}

 #edit {
    float: right;
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }

#button2 {
 display: inline-block;
    padding: 2px 8px;
    float: right;
}
  </style>
<link rel = "stylesheet"
   type = "text/css"
   href = "myStyle.css" />
</head>
<body>
   {% block content %} 
   {% for player in player_list %} 

<div style="background: #e9eefc; border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:700px;box-shadow: 0 0 5px black;margin-top:15px;margin-bottom:15px;" class="container-fluid bg-1 text-center">

  <a href="/updateProfile/"><span class="glyphicon glyphicon-pencil"></span></a>

  <h3>{{player.name}}</h3>
  <img src="{{player.photo.url}}" alt="Goodies" width="225" height="300">
  <h4>{{player.position}} at {{player.club}}</h4>
  <h4>{{player.city}}, {{player.state}}</h4>
  <!--<h4>{{player.bio}}</h4>-->


<!-- 
XXXXX
<center><button id = "button1" style="margin-bottom:3px;" type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#interest">I'm Interested</button></center>

<div id = "interest" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>Are you sure you want to express interest?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-primary" href="localhost:8000/makeMatch">Yes</a>
      </div>
    </div>
  </div>
</div>

<center><button type="button" id= "button2" style="margin-bottom:15px;" href="localhost:8000/noInterest" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#nointerest">I'm Not Interested</button></center>

<div id= "nointerest" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>Are you sure you are not interested?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-primary" href="localhost:8000/makeMatch">Yes</a>
      </div>
    </div>
  </div>
</div>





</div>



<div style="background-color:MintCream ;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:700px;box-shadow: 0 0 5px black;margin-top:15px;margin-bottom:15px;" class="container-fluid bg-2 text-center">
  <h3>Education</h3>
<center>

<p><font face="verdana" color="black"><strong>School:</strong> {{player.school}} </font></p>
<p><font face="verdana" color="black"><strong>GPA:</strong> {{player.GPA}} </font></p>
<p><font face="verdana" color="black"><strong>SAT score:</strong> {{player.SAT}}</font></p>
<p><font face="verdana" color="black"><strong>ACT score:</strong> {{player.ACT}}</font></p>

</center> -->
</div>

<div style="background-color:lightblue;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:700px;box-shadow: 0 0 5px black;margin-top:15px;margin-bottom:15px;" class="container-fluid bg-3 text-center">
  <h3>Soccer</h3>
<center>

<p><font face="verdana" color="black"><strong>Club Team:</strong> {{player.club}}</font></p>
<p><font face="verdana" color="black"><strong>Primary Position:</strong> {{player.position}} </font></p>
<!--<p><font face="verdana" color="black"><strong>Secondary Position(s):</strong> XX </font></p>-->
<p><font face="verdana" color="black"><strong>Club Coach Contact Number:</strong> {{player.phone}} </font></p>
<!--<p><font face="verdana" color="black"><strong>Highlight Video:</strong> <a href = {{player.video}} >{{player.video}}</a> </font></p>-->
<!--<p><font face="verdana" color="black"><strong>Achievments:</strong> {{player.achievements}} </font></p>-->

</center>
</div>


{% endfor %}

  {% endblock %} 

</body>
</html>
