<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .img-circle {
    border:3px solid #555555;
  }
  .bg-1 { 
      background-color: #ffffff;
      color: #555555;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  #button1 {
    display: inline-block;
    padding: 2px 8px;
    float: left;
/**other codes**/
}

#button2 {
 display: inline-block;
    padding: 2px 8px;
    float: right;
}
  </style>
<link rel = "stylesheet"
   type = "text/css"
   href = "myStyle.css" />
</head>
<body>
   {% block content %} 
   {% for player in player_list %} 

<div class="container-fluid bg-1 text-center">
  <h3>{{request.user.username}}</h3>
  <img src="https://img.fifa.com/images/fwwc/2015/players/prt-3/302753.png" class="img-circle" alt="Goodies" width="350" height="350">
  <h4>{{player.position}} at {{player.club}}</h4>
  <h4>{{player.city}}, {{player.state}}</h4>
  <!--<h4>{{player.bio}}</h4>-->
</div>

<center><button id = "button1" type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#interest">I'm Interested</button></center>

<div id = "interest" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>Are you sure you want to express interest?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<button type="button" id= "button2" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#nointerest">I'm Not Interested</button>

<div id= "nointerest" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>Are you sure you are not interested?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-2 text-center">
  <h3>Education</h3>
<center>

<p><font face="verdana" color="black"><strong>School:</strong> {{player.school}} </font></p>
<p><font face="verdana" color="black"><strong>GPA:</strong> {{player.GPA}} </font></p>
<p><font face="verdana" color="black"><strong>SAT score:</strong> {{player.SAT}}</font></p>
<p><font face="verdana" color="black"><strong>ACT score:</strong> {{player.ACT}}</font></p>
<!--<p><font face="verdana" color="white"><strong>Achievements:</strong> {{player.achievements}} </font></p>-->

</center>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Soccer</h3>
<center>

<p><font face="verdana" color="black"><strong>Club Team:</strong> {{player.club}}</font></p>
<p><font face="verdana" color="black"><strong>Primary Position:</strong> {{player.position}} </font></p>
<!--<p><font face="verdana" color="black"><strong>Secondary Position(s):</strong> XX </font></p>-->
<p><font face="verdana" color="black"><strong>Club Coach Contact Number:</strong> {{player.phone}} </font></p>
<p><font face="verdana" color="black"><strong>Highlight Video:</strong> <a href = {{player.video}} >{{player.video}}</a> </font></p>
<p><font face="verdana" color="black"><strong>Achievments:</strong> {{player.achievements}} </font></p>

</center>
</div>


{% endfor %}

  {% endblock %} 

</body>
</html>
